# OS
.DS_Store
Thumbs.db

# IDE / Editor
/.idea
/.vscode
/.fleet
/.nova
/.zed

# Node
/node_modules
npm-debug.log*
yarn-error.log*

# Build
/public/build
/public/hot
/public/storage

# Laravel
/vendor
.env
.env.*
!.env.example
.phpactor.json
.phpunit.result.cache
Homestead.json
Homestead.yaml
/auth.json

# Storage & cache
/storage/*.key
/storage/logs/*
/storage/framework/cache/*
/storage/framework/sessions/*
/storage/framework/views/*

# PHPUnit
/.phpunit.cache
